@charset "UTF-8";

/* z-index
───────────────────────────────── */
@function z($name, $childname: 0) {
  $getkey: map-get($z-map, $name);
  @if $childname != 0 {
    @return index($getkey, $childname);
  }
  @return inspect(index($z-map, ($name $getkey)));
}

/* VW
───────────────────────────────── */
@function round-decimal($number, $digits: 0) {
  $n: 1;
  @if $digits > 0 {
    @for $i from 1 through $digits {
      $n: $n * 10;
    }
  }
  @return round($number * $n) / $n;
}

@function vw($value, $basis: strip-unit($sp-basis)) {
  $rate: 100 / $basis;
  @return #{round-decimal($rate * $value * 1, 2)}vw;
}

@function rem($value) {
  @return #{$value / 100}rem;
}

/* 数値から単位を除外
───────────────────────────────── */
@function strip-unit($number) {
  @if (type-of($number) == 'number' and not unitless($number)) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

/* `px` から `rem` に変換
───────────────────────────────── */
@function px2rem($number) {
  $result: $number;
  @if (not(unit($number) == 'px')) {
    @return $result;
  }
  $result: strip-unit($number / $base-font-size) * 1rem;
  @return $result;
}

/* `px` から `em` に変換
───────────────────────────────── */
@function px2em($number, $parent-number: $base-font-size) {
  $result: $number;
  @if (not(unit($number) == 'px')) {
    @return $result;
  }
  $result: strip-unit($number / $parent-number) * 1em;
  @return $result;
}
