# ---------------------------------------------------------------
# .gitinogreに関するTips
#
# あとからまとめて.gitignoreする方法
# https://qiita.com/yuuAn/items/b1d1df2e810fd6b92574
#
# .gitignore ファイルをブランチごとに別の内容にする
# https://qiita.com/matsuoshi/items/f40d60a5c0a1a169a73b
# ---------------------------------------------------------------

# ドットはじまり
\!*
.*
!.prettierrc
!.stylelint
!.htaccess
!.htpasswd
!.gitkeep
!.gitignore
!.gitmodules
!.editorconfig

# コンパイルファイル
#*.css
*.css.map
bundle.js
*.scssc
*.map
/www/generator/log
.sass-cache

#gulp
.babelrc
.image-cache
fractal.js
fractal_src/*
component_lib/*

# CakePHP
# PGさんが設定
# Cake TMP Dirs
www/admin/uploader/log/*
www/upload/*
www/cms_upload/*
CI/application/config/production/database.php

# フォーム
www/inquiry/__log/*
!www/inquiry/__log/EMPTY
www/inquiry/__csv/*
!www/inquiry/__csv/EMPTY

# デザインフォルダ
_design

# NPM
node_modules/
dist_img/

# Windows
Thumbs.db
Desktop.ini

# Other
ssl
app.yaml
~
.DS_Store
config.codekit*
*.code-workspace
*.log
コピー
.AppleDouble
.smbdelete
