@charset "UTF-8";
/* Media Query
───────────────────────────────── */
/* Link
───────────────────────────────── */
/* Grid
───────────────────────────────── */
/* Font
───────────────────────────────── */
/* Pseudo
───────────────────────────────── */
/* contents
───────────────────────────────── */
/* PC item & SP item
───────────────────────────────── */
/* Tel
───────────────────────────────── */
/* Image
───────────────────────────────── */
/* Sticky
───────────────────────────────── */
/* Clearfix
───────────────────────────────── */
/* z-index
───────────────────────────────── */
/* VW
───────────────────────────────── */
/* 数値から単位を除外
───────────────────────────────── */
/* `px` から `rem` に変換
───────────────────────────────── */
/* `px` から `em` に変換
───────────────────────────────── */
/* Size
───────────────────────────────── */
/* Color
───────────────────────────────── */
/* Font
───────────────────────────────── */
/* Duration
  ───────────────────────────────── */
/* Easing
───────────────────────────────── */
/* Z-index
───────────────────────────────── */
/* フェードイン
───────────────────────────────── */
/* スライドイン
───────────────────────────────── */
/* スケールイン
───────────────────────────────── */
/* ブラーイン
───────────────────────────────── */
/* ストロークアニメーション
───────────────────────────────── */
@-webkit-keyframes strokeSvg {
  0% {
    opacity: 0;
    stroke-dashoffset: 150%;
    fill-opacity: 0; }
  61.8% {
    opacity: 1;
    stroke-dashoffset: 0%;
    fill-opacity: 0; }
  100% {
    opacity: 1;
    stroke-dashoffset: 0%;
    fill-opacity: 1; } }
@keyframes strokeSvg {
  0% {
    opacity: 0;
    stroke-dashoffset: 150%;
    fill-opacity: 0; }
  61.8% {
    opacity: 1;
    stroke-dashoffset: 0%;
    fill-opacity: 0; }
  100% {
    opacity: 1;
    stroke-dashoffset: 0%;
    fill-opacity: 1; } }

/* バウンス
───────────────────────────────── */
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  38.2% {
    -webkit-transform: scale(0.8382);
            transform: scale(0.8382); }
  61.8% {
    -webkit-transform: scale(1.1618);
            transform: scale(1.1618); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  38.2% {
    -webkit-transform: scale(0.8382);
            transform: scale(0.8382); }
  61.8% {
    -webkit-transform: scale(1.1618);
            transform: scale(1.1618); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

/* クロークイン
───────────────────────────────── */
@-webkit-keyframes cloakIn {
  0% {
    opacity: 0; } }
@keyframes cloakIn {
  0% {
    opacity: 0; } }

/**
 * Common Styles
 *
 * 01. foundation
 * 02. Library
 * 03. Block
 */
/* 01. foundation
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Reset
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

/* Base
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
html {
  overflow-y: scroll;
  height: 100%; }
  @media screen and (max-width: 767px) {
    html {
      font-size: 26.66667vw; } }
  @media screen and (min-width: 768px), print {
    html {
      font-size: 494.14348%; } }
  @media screen and (min-width: 1080px) {
    html {
      font-size: 7.32064vw; } }
  @media screen and (min-width: 1680px), print {
    html {
      font-size: 768.66764%; } }

body {
  line-height: 1.8;
  -webkit-text-size-adjust: 100%;
  letter-spacing: 0.05em;
  height: 100%;
  font-family: noto-sans-cjk-jp, sans-serif;
  font-style: normal;
  font-weight: 300; }
  @media screen and (max-width: 767px) {
    body {
      font-size: 4vw;
      position: relative; } }
  @media screen and (min-width: 768px), print {
    body {
      font-size: 0.16rem;
      min-width: 1080px; } }

*,
*:after,
*:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a {
  color: #1a1a1a;
  text-decoration: none;
  -webkit-transition: 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: 0.21s cubic-bezier(0.47, 0, 0.745, 0.715); }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  line-height: 1;
  vertical-align: bottom;
  max-width: 100%;
  height: auto; }

table td img,
table th img {
  vertical-align: middle; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* Lazy load
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
.lazyload {
  opacity: 0;
  -webkit-transition: opacity 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: opacity 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: opacity 0.21s cubic-bezier(0.47, 0, 0.745, 0.715); }
  .lazyload.lazyloaded {
    opacity: 1; }

/* Display
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
@media screen and (min-width: 768px), print {
  .sp-item {
    display: none !important; }
  .pc-item {
    display: block; } }

@media screen and (max-width: 767px) {
  .sp-item {
    display: block; }
  .pc-item {
    display: none !important; } }

/* Selection
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
::-moz-selection {
  background: rgba(254, 228, 56, 0.382); }
::selection {
  background: rgba(254, 228, 56, 0.382); }

/* 02. Library
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* 03. Block
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* Block
───────────────────────────────── */
[class^='svg'] {
  -webkit-transition: -webkit-transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: -webkit-transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), -webkit-transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  color: currentColor; }

.\@svg__path {
  -webkit-transition: stroke 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), fill 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), opacity 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: stroke 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), fill 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), opacity 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: stroke 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), fill 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), opacity 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  stroke: currentColor; }

/* Block
───────────────────────────────── */
.\@button {
  display: block;
  border-radius: 5em;
  border: 1px solid #0065bc;
  background: #0065bc;
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  -webkit-transition: color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), background-color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), border-color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), -webkit-box-shadow, -webkit-transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), background-color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), border-color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), -webkit-box-shadow, -webkit-transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), background-color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), border-color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), box-shadow, 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), background-color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), border-color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), box-shadow, 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), background-color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), border-color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), box-shadow, 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), -webkit-box-shadow, -webkit-transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  font-family: noto-sans-cjk-jp, sans-serif;
  font-style: normal;
  font-weight: 500; }
  @media screen and (min-width: 768px), print {
    .\@button {
      padding: 0.16rem 0.24rem;
      font-size: 0.15rem;
      min-height: 0.56rem; } }
  @media screen and (max-width: 767px) {
    .\@button {
      padding: 3vw 8vw;
      font-size: 4vw;
      min-height: 14.93vw; } }
  .\@button.-inline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    @media screen and (min-width: 768px), print {
      .\@button.-inline {
        padding: 0.16rem 0.64rem; } }
    @media screen and (max-width: 767px) {
      .\@button.-inline:not(.-spFull) {
        padding: 3vw 8vw; } }
  .\@button .\@svg__path {
    stroke: currentColor; }
  @media screen and (min-width: 768px), print {
    .\@button [class^='@svg__arrow'],
    .\@button .\@svg__house {
      margin-right: 0.12rem; } }
  @media screen and (max-width: 767px) {
    .\@button [class^='@svg__arrow'],
    .\@button .\@svg__house {
      margin-right: 3vw; } }
  @media screen and (min-width: 768px), print {
    .\@button .\@svg__house {
      width: 0.21rem;
      height: 0.21rem; } }
  @media screen and (max-width: 767px) {
    .\@button .\@svg__house {
      width: 5.6vw;
      height: 5.6vw; } }
  .\@button .\@svg__blank {
    -ms-flex-item-align: end;
        align-self: flex-end; }
    @media screen and (min-width: 768px), print {
      .\@button .\@svg__blank {
        width: 0.1rem;
        height: 0.1rem;
        margin-left: 0.08rem; } }
    @media screen and (max-width: 767px) {
      .\@button .\@svg__blank {
        width: 2.67vw;
        height: 2.67vw;
        margin-left: 1vw; } }
  @media screen and (min-width: 768px), print {
    .\@button:hover {
      color: #0065bc;
      background-color: #fff;
      border-color: #0065bc;
      -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
              box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05); }
      .\@button:hover.-white {
        color: #fff;
        background-color: rgba(255, 255, 255, 0);
        border-color: #fff; } }
  @media screen and (max-width: 767px) {
    .\@button:active {
      color: #0065bc;
      background-color: #fff;
      border-color: #0065bc;
      -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
              box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05); }
      .\@button:active.-white {
        color: #fff;
        background-color: rgba(255, 255, 255, 0);
        border-color: #fff; } }
  @media screen and (min-width: 768px), print {
    .\@button:hover {
      -webkit-transform: translateY(1px);
          -ms-transform: translateY(1px);
              transform: translateY(1px); } }
  @media screen and (max-width: 767px) {
    .\@button:active {
      -webkit-transform: translateY(1vw);
          -ms-transform: translateY(1vw);
              transform: translateY(1vw); } }

/* Block
───────────────────────────────── */
.\@accordion {
  position: relative; }

/* Trigger
───────────────────────────────── */
.\@accordion__trigger {
  cursor: pointer;
  border-radius: inherit; }
  .\@accordion__trigger:before, .\@accordion__trigger:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
    -o-transition: opacity 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: opacity 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
    border-radius: inherit; }
  .\@accordion__trigger:before {
    background-color: #d7efff; }
  .\@accordion__trigger:after {
    border: 1px solid #0065bc; }
  @media screen and (min-width: 768px), print {
    .\@accordion__trigger:hover:before {
      opacity: 0.382; }
    .\@accordion__trigger:hover:after {
      opacity: 0.618; }
    .\@accordion__trigger:hover .\@accordion__button {
      background: #0065bc;
      color: #fff; } }
  @media screen and (max-width: 767px) {
    .\@accordion__trigger:active:before {
      opacity: 0.382; }
    .\@accordion__trigger:active:after {
      opacity: 0.618; }
    .\@accordion__trigger:active .\@accordion__button {
      background: #0065bc;
      color: #fff; } }
  .-opened > .\@accordion__trigger:after {
    opacity: 0.618; }
  @media screen and (min-width: 768px), print {
    .-opened > .\@accordion__trigger:hover .\@accordion__button {
      background: #1a1a1a;
      color: #fff; } }
  @media screen and (max-width: 767px) {
    .-opened > .\@accordion__trigger:active .\@accordion__button {
      background: #1a1a1a;
      color: #fff; } }

.\@accordion__button {
  background-color: #d7efff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 1.3;
  color: #0065bc;
  border-radius: 5em;
  -webkit-transition: background-color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: background-color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: background-color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  position: relative;
  z-index: 1; }
  @media screen and (min-width: 768px), print {
    .\@accordion__button {
      padding: 0.08rem 0.24rem; } }
  @media screen and (max-width: 767px) {
    .\@accordion__button {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 13vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border-radius: initial;
      pointer-events: auto; } }
  .-opened > .\@accordion__trigger .\@accordion__button {
    background-color: #efefef;
    color: #1a1a1a; }

.\@accordion__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (min-width: 768px), print {
    .\@accordion__status {
      width: 0.12rem; } }
  @media screen and (max-width: 767px) {
    .\@accordion__status {
      width: 3vw; } }
  .\@accordion__status:before, .\@accordion__status:after {
    content: '';
    display: block;
    height: 1px;
    background-color: currentColor;
    position: absolute;
    width: inherit;
    -webkit-transition: background-color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), -webkit-transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: background-color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), -webkit-transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
    -o-transition: background-color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: background-color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: background-color 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), -webkit-transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715); }
  .\@accordion__status:after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .-opened > .\@accordion__trigger .\@accordion__status:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .-opened > .\@accordion__trigger .\@accordion__status:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  @media screen and (min-width: 768px), print {
    .\@accordion__status + * {
      margin-left: 0.16rem; } }
  @media screen and (max-width: 767px) {
    .\@accordion__status + * {
      margin-left: 3vw; } }

/* Content
───────────────────────────────── */
.\@accordion__content {
  display: none; }

/* List
───────────────────────────────── */
@media screen and (min-width: 768px), print {
  .\@attention__list {
    font-size: 0.13rem; } }

@media screen and (max-width: 767px) {
  .\@attention__list {
    font-size: 3.47vw; } }

.\@attention__list.-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.\@attention__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5; }
  .\@attention__list:not(.-center) .\@attention__item {
    width: 100%; }
  .\@attention__item:before {
    content: '※'; }
    @media screen and (min-width: 768px), print {
      .\@attention__item:before {
        margin-right: 0.04rem; } }
    @media screen and (max-width: 767px) {
      .\@attention__item:before {
        margin-right: 1vw; } }
  @media screen and (min-width: 768px), print {
    .\@attention__item + * {
      margin-top: 0.04rem; } }
  @media screen and (max-width: 767px) {
    .\@attention__item + * {
      margin-top: 1vw; } }

/* Block
───────────────────────────────── */
.application {
  -webkit-animation: cloak-in 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
          animation: cloak-in 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (min-width: 768px), print {
    .application {
      max-width: 16.8rem;
      min-width: 10.8rem;
      width: 100%;
      padding-left: 0.64rem;
      padding-right: 0.64rem;
      margin-left: auto;
      margin-right: auto; } }
  .application[v-cloak] {
    opacity: 0; }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .application {
    min-height: auto;
    display: block;
    overflow: hidden; } }

/* Block
───────────────────────────────── */
/* SlideY
───────────────────────────────── */
.\@transition__scale-enter-active, .\@transition__scale-leave-active, .\@transition__scale-move {
  -webkit-transition: opacity 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), -webkit-transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: opacity 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), -webkit-transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: opacity 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: opacity 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: opacity 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715), -webkit-transform 0.21s cubic-bezier(0.47, 0, 0.745, 0.715); }

.\@transition__scale-leave-active {
  position: absolute; }

.\@transition__scale-enter {
  opacity: 0; }
  @media screen and (min-width: 768px), print {
    .\@transition__scale-enter {
      -webkit-transform: scale(0.9);
          -ms-transform: scale(0.9);
              transform: scale(0.9);
      -webkit-transform-origin: center center;
          -ms-transform-origin: center center;
              transform-origin: center center; } }

.\@transition__scale-leave-to {
  opacity: 0;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center; }

/* ラッパー
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
.test {
  margin: 0 auto;
  border: #fff;
  -webkit-box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.0618);
          box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.0618); }
  @media screen and (min-width: 768px), print {
    .test {
      max-width: 16.8rem;
      min-width: 10.8rem;
      width: 100%;
      padding-left: 0.64rem;
      padding-right: 0.64rem;
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (min-width: 768px), print {
    .test {
      padding: 0.4rem; } }
  @media screen and (max-width: 767px) {
    .test {
      padding: 5vw; } }
  @media screen and (min-width: 768px), print {
    .test + .test {
      margin-top: 0.8rem; } }
  @media screen and (max-width: 767px) {
    .test + .test {
      margin-top: 8vw; } }

/* ヘッダー
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
.test__header {
  font-weight: bold; }
  @media screen and (min-width: 768px), print {
    .test__header {
      font-size: 0.4rem; } }
  @media screen and (max-width: 767px) {
    .test__header {
      font-size: 0.16rem; } }
  @media screen and (min-width: 768px), print {
    .test__header + * {
      margin-top: 0.24rem; } }
  @media screen and (max-width: 767px) {
    .test__header + * {
      margin-top: 5vw; } }

/* タイトル
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
@media screen and (min-width: 768px), print {
  .test__title {
    font-size: 0.2rem; } }

@media screen and (max-width: 767px) {
  .test__title {
    font-size: 0.16rem; } }

@media screen and (min-width: 768px), print {
  .test__title + * {
    margin-top: 0.24rem; } }

@media screen and (max-width: 767px) {
  .test__title + * {
    margin-top: 3vw; } }

/* テキスト
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
.test__text {
  font-size: 0.16rem; }
  @media screen and (min-width: 768px), print {
    .test__text + .test__title {
      margin-top: 0.4rem; } }
  @media screen and (max-width: 767px) {
    .test__text + .test__title {
      margin-top: 3vw; } }

/* リスト
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
.test__list {
  display: -ms-grid;
  display: grid; }

.test__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.18rem;
  font-weight: bold; }
  @media screen and (max-width: 767px) {
    .test__item {
      font-size: 0.16rem; } }

/* セクション
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
.test__section {
  height: 1.5rem;
  text-align: center;
  background: #ccc;
  font-size: 0.16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (min-width: 768px), print {
    .test__section + .test__section {
      margin-top: 1rem; } }
  @media screen and (max-width: 767px) {
    .test__section + .test__section {
      margin-top: 1rem; } }

/* コード
−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
.test__code {
  background-color: #f9f9f9;
  display: block;
  font-size: 0.15rem; }
  @media screen and (min-width: 768px), print {
    .test__code {
      padding: 0.24rem; } }
  @media screen and (max-width: 767px) {
    .test__code {
      padding: 3vw; } }
  @media screen and (min-width: 768px), print {
    .test__code + * {
      margin-top: 0.16rem; } }
  @media screen and (max-width: 767px) {
    .test__code + * {
      margin-top: 3vw; } }

